<!-- <script language="javascript" type="text/javascript">setTimeout("location.reload();",3000);</script>  -->
<script>
  function hideWarning() {
      //if you have no stocks in your list
      $(".overflow_warning").hide();
      //redirect to create a new stock page
      window.location.replace("http://www.obduros.com/stocks/new/");
  }
</script>
<% if !(session[:current_user_firstname].nil?) %>
  <% if @stocks.empty? %>
    <div class="overflow_warning" onclick="hideWarning()">
      <h2>You are not tracking any stocks. Click this to start tracking a stock.</h2>
    </div>
  <% end %>
  <% if @collection_status %>
    <div class="overflow_warning" onclick="hideWarning()">
      <h2><%= @collection_status %></h2>
    </div>
  <% end %>
  <div class="row">
  	<% @stocks.each do |stock| %>
  		<div class="col-md-3 center-tiles">
        <div class="logo_div" style='background-image: url(<%= stock.stock_logo.url(:thumb) %>);'>
        </div>
        <div class="display_div">
            <h1 id="ticker_symbol"><%= stock.ticker_symbol %></h1>
            <h1 id="index_arrow" class="<%= @index_data[@i].change.to_f >= 0 ? 'greenPriceChange' : 'redPriceChange' %>"><%= @index_data[@i].change.to_f >= 0 ? '▲' : '▼' %></h1>
            <h4><%= stock.company_name %></h4>
            <p><a class="divLink" href="/stocks/<%= stock.id %>">Webpage URL</a></p>
        </div>
  		</div>
  		<% @i += 1 %>
    <% end %>
  </div>
<% else %>
<div id="welcome_div">
  <h1 id="welcome_text">Welcome to StockWatcher!</h1>
  <%= image_tag("welcome_page.png", :id => "welcome_image") %>
</div>
<% end %>
