<!DOCTYPE html>
<html>
  <head>
    <title>StockWatcher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Stock Watcher", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Helpful Resources", resources_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (session[:current_user_firstname].nil?) %>
          <li class="headButton"><a href='http://localhost:3000/redirectauth'><div id='loginButton' class='btn btn-success'>Log In</div></a></li> 
        <% else %>
          <li><%= link_to "Track a new Stock", new_stock_path %></li>
          <li class="headButton"><a href="http://localhost:3000/redirectout"><div id="logoutButton" class="btn btn-danger">Log <%= session[:current_user_firstname] %> Out</div></a></li>
        <% end %>
      </ul>
    </div>
  	</nav>
    <div class="container" id="yield_container">
    	<%= yield %>
    </div>
  </body>
</html>
